/* #water-level {
    background-color: white;
    height: 600px;
    width: 300px;
} */

.canvas {
    height: 400px;
    width: 500px;
    border-radius: 20px;
    background-color: blue;
    /* -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); */
    /* font-size: 40px; */
    /* color: white; */
}

/* #main-col {
    background-color: white;
} */

.hourly {
    display: inline-block;
}

.loc-row {
    margin: 30px;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    margin: 40px;
    line-height: .9;
}

.loc-header {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    line-height: .6;
    color: #000000;
    text-shadow: 2px 2px 4px seashell;
}